@use '../abstract/' as *;

.footer{
    background-color: $clr-footer;
    padding: 5rem;
    .footer__wrapper{
        @include grid(1);
        h5{
            color: $clr-light;
        }
        ul{
            li{
                display: none;
            }
        }
        gap: 2rem;
        place-items: center;
        @include mediaQuery{
        @include grid(3);
        gap: 18rem;
        h5{
            color: $clr-light;
        }
        }
        
        
    }
}